#app {
  margin: auto;
  max-width: 920px;
  padding: 2em 0;
  letter-spacing: 0.04em;
}

.mk-general-item-title {
  margin: 0;
  color: #333;
  font-size: 1em;
  margin-bottom: 0;
}

.mk-general-item-sub-title {
  color: #777;
  display: block;
  font-size: 1em;
  margin-bottom: 0;
  text-decoration: none;
  display: inline-block;
}

.mk-item-wrapper__title {
  margin: 0;
  color: #333;
  font-size: 1.3em;
  font-weight: 900;
  margin-bottom: 0.5em;
}

.mk-item-wrapper__children {
  gap: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mk-item-wrapper__children > * {
  flex: 1 1 auto;
  width: calc(50% - 1em);
}

.mk-link-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.mk-link-list__url {
  width: 100%;
}

.mk-link-list__icon {
  width: 0.9em;
  height: 0.9em;
  margin-right: 0.5em;
  filter: grayscale(1);
}

.mk-biography__title {
  color: #333;
  margin-top: 0;
  line-height: 1;
  font-size: 3em;
  font-weight: 900;
  margin-bottom: 0.1em;
  transform: translateX(-2px);
}

.mk-biography__job-title {
  display: block;
  font-size: 1.3em;
}

.mk-biography__about {
  margin: 0;
  color: #777;
  font-size: 1em;
  line-height: 1.8;
}

.mk-biography__header-top {
  display: flex;
  align-items: flex-end;
}

.mk-biography__avatar {
  margin-right: 1em;
  margin-bottom: 0.5rem;
}

.mk-biography__avatar img {
  width: 135px;
  height: 135px;
  object-fit: cover;
  vertical-align: middle;
  object-position: center;
  filter: grayscale(100%);
}

@media (max-width: 920px) {
  #app {
    padding: 2em 1.5em;
  }

  .mk-item-wrapper__children > * {
    flex: 1 1 100%;
  }

  .mk-link-list {
    align-items: baseline;
  }

  .mk-link-list__icon {
    width: 1em;
    height: 1em;
  }
}

@media (max-width: 520px) {
  .mk-biography__header-top {
    display: block;
  }

  .mk-biography__avatar {
    margin-right: 0;
  }

  .mk-biography__avatar img {
    width: 100%;
    height: 250px;
    margin-bottom: 0.5rem;
  }
}
