#app {
  margin: auto;
  max-width: 920px;
  padding: 2em 0;
  letter-spacing: 0.04em;
}

.mk-general-row {
  gap: 1em;
  display: flex;
}

.mk-general-item-title {
  margin: 0;
  color: #242424;
  font-size: 1em;
  font-size: 1.5em;
  margin-bottom: 0.1em;
}

.mk-experience-item-title {
  font-size: 1.5em;
}

.mk-general-item-sub-title {
  color: #4d4d4d;
  display: block;
  font-size: 0.9em;
  margin-bottom: 0.5em;
  text-decoration: none;
  display: inline-block;
}

.mk-item-wrapper__title {
  margin: 0;
  color: #4d4d4d;
  font-size: 0.7em;
  margin-bottom: 1.5em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.mk-item-wrapper__children {
  gap: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mk-item-wrapper__children--row-between {
  gap: 1em;
  display: flex;
  justify-content: space-between;
}

.mk-item-wrapper__children--row-start {
  gap: 1em;
  display: flex;
  justify-content: flex-start;
}

.mk-item-wrapper__children > * {
  flex: 1 1 auto;
  width: calc(50% - 1em);
}

.mk-link-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.mk-link-list__url {
  width: 100%;
}

.mk-link-list__icon {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  filter: grayscale(1);
}

.mk-biography__title {
  color: #242424;
  margin-top: 0;
  line-height: 1;
  font-size: 3.5em;
  margin-bottom: 0.2em;
  transform: translateX(-2px);
}

.mk-biography__job-title {
  display: block;
  color: #4d4d4d;
  font-size: 1.15em;
}

.mk-biography__about {
  color: #4d4d4d;
  font-size: 1em;
  line-height: 2;
  margin-top: 0.25em;
}

@media (max-width: 920px) {
  #app {
    padding: 2em 1.5em;
  }

  .mk-item-wrapper__children > * {
    flex: 1 1 100%;
  }

  .mk-item-wrapper__children--row-between,
  .mk-item-wrapper__children--row-start {
    flex-wrap: wrap;
  }

  .mk-link-list {
    align-items: baseline;
  }

  .mk-link-list__icon {
    width: 1em;
    height: 1em;
  }
}

@media (max-width: 768px) {
  .mk-general-row {
    display: block;
  }
}

@media (max-width: 520px) {
  .mk-biography__header-top {
    display: block;
  }

  .mk-item-wrapper__children--row > * {
    flex: 1 1 100%;
  }

  .mk-item-wrapper__children--row-between {
    display: block;
  }
}
