#app {
  @apply max-w-4xl m-auto py-8;
  letter-spacing: 0.04em;
}

.mk-general-item-title {
  @apply mb-0 text-primary text-xl font-bold;
}

.mk-general-item-sub-title {
  @apply text-primary block text-sm mb-1;
  text-decoration: none;
}

.mk-item-wrapper__title {
  @apply text-primary text-opacity-75 font-semibold text-sm mb-8;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.mk-item-wrapper--flex {
  @apply md:flex flex-wrap gap-8;

  &__item {
    width: calc(50% - 2rem);

    @media (max-width: 520px) {
      @apply mb-4;
      width: 100%;
    }
  }
}

.mk-item-wrapper__children--row-between {
  gap: 1em;
  display: flex;
  justify-content: space-between;
}

.mk-item-wrapper__children--row-start {
  gap: 1em;
  display: flex;
  justify-content: flex-start;
}

.mk-link-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.mk-link-list__url {
  width: 100%;
}

.mk-link-list__icon {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  filter: grayscale(1);
}

@media (max-width: 920px) {
  #app {
    padding: 2em 1.5em;
  }

  .mk-item-wrapper__children > * {
    flex: 1 1 100%;
  }

  .mk-item-wrapper__children--row-between,
  .mk-item-wrapper__children--row-start {
    flex-wrap: wrap;
  }

  .mk-link-list {
    align-items: baseline;
  }

  .mk-link-list__icon {
    width: 1em;
    height: 1em;
  }
}

@media (max-width: 520px) {
  .mk-biography__title {
    font-size: 2.5em;
  }

  .mk-experience-item-title {
    font-size: 1.1em;
  }

  .mk-biography__header-top {
    display: block;
  }

  .mk-item-wrapper__children--row > * {
    flex: 1 1 100%;
  }

  .mk-item-wrapper__children--row-between {
    display: block;
  }
}
