#app {
  margin: auto;
  max-width: 920px;
  padding: 5rem 0;
  letter-spacing: 0.04rem;
}

.mk-general-item-title {
  margin: 0;
  color: #333;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.mk-item-wrapper__children {
  gap: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.mk-item-wrapper__children > * {
  flex: 1 1 48%;
}

@media (max-width: 920px) {
  #app {
    padding: 2rem 1.5rem;
  }

  .mk-item-wrapper__children > * {
    flex: 1 1 100%;
  }
}
